
div{
    border: 1px solid #899caf;
}

.operatori,.numeri,.uguale{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    border: 2px solid #899caf;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 378px;
    height: 386px;
    font: 2em sans-serif;
}


.display{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: 1 / span 4;
    background-color: #434c53;
    padding-right: 10px;
}

.operatori{
    background-color: #d3dde3;
    text-align: center;
}

.numeri{
   background-color: #eff2f5;
}


.uguale{
    grid-area: 3 / 4 / span 4;
    background-color: #f67076;
}