body{
    display: flex;
    
}


#yellow{
    order: 1;
}

#yellow ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#yellow li{
    padding: 15px 20px;
}

#blue{
    order: 5;
}

#orange{
    order: 4;
    padding-right: 300px;
}

#red{
    order: 2;
}

#red ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#red li{
    padding: 15px 20px;
}
#green{
    order: 3;
}
