body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#green{
    grid-column: 1 / span 3;
}

#yellow{
    grid-row: 2 / span 2;
}

#red{
    grid-row: span 2;
}
